
/*RATING INPUT FOR CREATE REVIEW*/
.rating-input {
    display: flex;
    margin-right: 4px;
  }

  .review-item {
    display: flex;
  }

  .rating-input .filled {
    color: saddlebrown;
  }

  .rating-input .empty {
    color: burlywood;
  }


  /*SPOT BY ID REVIEW BOTTOM HALF*/

  #body-of-each-review{
    margin-left: 40px;
    margin-right: 40px;
  }
